html {
  background-color: #FFFFFF;
}

body {
  width: 1000px;
  margin: 0 auto;
  padding: 0px 0 40px 0;
  background-color: #eaeaea;
  font-family: Helvetica Neue, sans-serif;
}

h1 {
  padding: 20px 0 0 0;
  Font-size: 30px;
  text-align: center;
  color: #fa4542;
}

h2 {
  font-size: 16px;
  font-style: italic;
  text-align: center;
}

p {
  width: 700px;
  text-align: left;
  margin: 0 auto;
  padding: 15px;
}

ul {
  width: 800px;
  font-weight: bold;
  text-align: left;
  margin: 0 auto;
  padding: 20px 0 20px 150px;
  columns: 3;
  list-style: none;
  line-height: 25px;
}

.footnote {
  text-align: center;
  font-style: italic;
  line-height: 35px;
}

span {
  font-weight: bold;
}

a {
  color: #fa4542;
  font-weight: bold;
  text-decoration: none;
}

button {
  height: 35px;
  border: none;
  font-size: 18px;
}