#container {
	background-color: gray;
	width: 950px;
	margin: 0 auto;
	text-align: center;
	padding:5px;
}

.orange {
	background-color: orange;
	width: 900px;
	margin: 0 auto;
	padding: 2px;
}

.black {
	background-color: black;
}

a {
	text-decoration: none;
	color: white;
	margin: 10px;
}

#yellowtext {
	color: yellow;
}

#bluetext {
	color: blue;
}

#greentext {
	color: green;
}